/* Reseta o layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffcc00, #ff0000);
    flex-direction: column;
}

/* Título principal */
h1 {
    text-align: center;
    color: #201c1c;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Container geral */
.container {
    background-color: #ffffff;
    padding: 55px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 450px;
    text-align: center;
    position: relative;
}

/* Estilização das Pokébolas decorativas */
.pokeball-top, .pokeball-bottom {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #000;
}

.pokeball-top {
    top: -40px;
    left: calc(50% - 40px);
    background: linear-gradient(180deg, #ff0000 50%, #fff 50%);
}

.pokeball-bottom {
    bottom: -40px;
    left: calc(50% - 40px);
    background: linear-gradient(0deg, #ff0000 50%, #fff 50%);
}

/* Estilização do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border: 2px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

/* Estilização dos botões */
button {
    background-color: #ffcc00;
    color: #333;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #ffdf80;
}

/* Card de Pokémon */
.pokemon-card {
    background-color: #f8f8f8;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}

.pokemon-card h2 {
    margin-bottom: 10px;
    color: #333;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 50%;
    margin-bottom: 10px;
}

.pokemon-card .details {
    text-align: left;
    font-size: 0.9rem;
    margin-top: 10px;
}

.pokemon-card .details p {
    margin: 5px 0;
}

/* Estilos responsivos */
@media(max-width: 500px) {
    .input-group {
        flex-direction: column;
    }

    .input-group input {
        width: 100%;
    }
}
