<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolher Pokémon</title>
    <link rel="stylesheet" href="/css/escolherPokemon.css">
    <script src="/js/escolherPokemon.js"></script>
</head>
<body>
    <h1>Escolha até 6 Pokémons</h1>
    <input type="text" id="search-input" placeholder="Pesquisar Pokémon" class="pokemon-search">
    <div id="pokemonGrid" class="pokemon-grid"></div>
    <button id="confirmSelection" class="confirm-selection" disabled>Confirmar Seleção</button>
</body>
</html>

